In [64]:
import pandas as pd

In [97]:
df = pd.read_excel('../Data/cuba_hotels_sentiment_2.0 (1).xlsx')

In [106]:
df = pd.read_csv('../Logic/aa.csv', sep=';')

In [107]:
dfp = df[df['Class']==5]
dfn = df[df['Class']==1]
dfn1 = df[df['Class']==2]

In [108]:
dfp = dfp[:2500]
dfn = dfn[:1503]
dfn1 = dfn1[:1000]

In [101]:
dfn1

       Class                                            Opinion
1181       2  1-Condiciones del Hotel : Descuidado sobre tod...
1427       2  Nos instalamos dos noches en este hotel, una a...
2109       2  Nos ha decepcionado, la limpieza diaria, llega...
2364       2  Una pena que una cadena como Iberostar y un ho...
2379       2  Sugiero AMPLIAMENTE NO RESERVAR EN ESTE HOTEL,...
...      ...                                                ...
16511      2  de lo peor que pueda pasar unas vacaciones en ...
16520      2  El hotel es muy bonito y las instalaciones est...
16541      2  Hemos estado 9 días, 4 adultos...en primer lug...
16556      2  Pésimo trato a los cubanos!!! Es un hotel con ...
17065      2  Por cuestiones de trabajo tuve que viajar a Va...

[1000 rows x 2 columns]

In [81]:
dfn

       Class                                            Opinion
15         1  No recomiendo este lugar para nadie. El servic...
169        1  No voy nunca mas a este hotel. Estuve de invit...
899        1  La habitación bien deteriorada, cae agua por l...
971        1  El hotel eata sucio. Eramos 6 personaa y tenia...
1046       1  Es la segunda vez que visito el hotel, me sent...
...      ...                                                ...
21838      1  En vista de todos los problemas a los que me t...
21840      1  Después de haber reservado con casi un mes de ...
21841      1  Fui alojarme el 21 de agosto asta el 25.Fatal ...
21842      1  Mi nombre es Asley Ruiz, el día 20 de marzo de...
21843      1  Horrible estancia. Reggeton a tope, habitación...

[1810 rows x 2 columns]

In [52]:
l = [1,1,1,1,1,1]
p = [0,0,0,0,0,0]
t = []

In [53]:
data = {'label_true':l,'label_pred':p,'text':t}

In [ ]:
df = pd.DataFrame(data)

In [56]:
df

      sentiment                                             review
0             1   Precioso hotel en un entorno encantador. Las ...
1             1   La ubicación es excelente, cerca de la estaci...
2             1  El personal fue muy amable y servicial. La ubi...
3             1   La ubicación era estupenda. Hay muchos buenos...
4             1   1 la cama y las almohadas son increíblemente ...
...         ...                                                ...
4995          0   Pagar el aparcamiento 22 50 por 24 horas con ...
4996          0                  La zona del gimnasio muy antigua.
4997          0   Un poco ruidoso al menos en comparación con e...
4998          0                      El precio puede ser demasiado
4999          0  Solo un poco para calentar si eso cuenta como ...

[5000 rows x 2 columns]

In [30]:
df = pd.read_csv('../Logic/vff.csv', sep=';')

In [33]:
dfn = pd.read_csv('../Data/hotel_review_test_5000_v1.csv', sep=';')
dfp = pd.read_csv('../Data/hotel_review_test_5000_v2.csv', sep=';')

In [23]:
df = pd.read_excel('../Logic/Hotel_Review_Test_5000.xlsx')

In [102]:
df.groupby('Class').nunique(True)

       Opinion
Class
1         1807
2         1627
3         3600
4         4268
5        10539

In [18]:
len(df[df['sentiment']==0])

2500

In [34]:
pos.groupby('sentiment').nunique()

           review
sentiment
1            1493

In [16]:
neg.groupby('sentiment').nunique()

           review
sentiment
0            2000

In [2]:
dataset = pd.read_excel('../Logic/laptop (3).xlsx')

In [ ]:
index = 0
for rank in df['review']:
    df['review'][index] = df['review'][index]

    index = index + 1

In [16]:
df.shape

(7001, 7)

In [18]:
df.head(1)

,Index,Name,Area,Review_Date,Rating_attribute,Rating(Out of 10),Review_Text
0,0,Hotel The Pearl,"Paharganj, New Delhi",Jul-23,Best budget friendly hotel,9.0,Hotel the pearl is perfect place to stay in De...

In [9]:
df = df['Negative_Review']

In [98]:
df_p1 = df[df['sentiment']==4]
df_p2 = df[df['sentiment']==3]
df_n1 = df[df['sentiment']==1]
df_n2 = df[df['sentiment']==0]

In [99]:
df_train_p1 = df_p1[:5000]
df_train_p2 = df_p2[:5000]
df_train_n1 = df_n1[:5000]
df_train_n2 = df_n2[:5000]

In [57]:
dfp = df[df['sentiment']==1]
dfn = df[df['sentiment']==0]

In [109]:
df = pd.concat([dfp,dfn,dfn1])

In [104]:
df

       Class                                            Opinion
0          5  Hotel recientemente inaugurado (1 año) y está ...
1          5  Fuimos a el lobby bar y probamos casi todos lo...
2          5  Muy buen servicio, maravillosa experiencia, ex...
3          5  Hoy estuvimos en el restaurante Bahía y la pas...
4          5  Me ha encantado este hotel, el personal fantás...
...      ...                                                ...
16511      2  de lo peor que pueda pasar unas vacaciones en ...
16520      2  El hotel es muy bonito y las instalaciones est...
16541      2  Hemos estado 9 días, 4 adultos...en primer lug...
16556      2  Pésimo trato a los cubanos!!! Es un hotel con ...
17065      2  Por cuestiones de trabajo tuve que viajar a Va...

[5000 rows x 2 columns]

In [35]:
df_train = pd.concat([dfp[20000:22500],dfn[20000:22500]])

In [20]:
df.groupby('sentiment').nunique()

           review
sentiment
0            2500
1            2500

In [85]:
df = pd.read_csv('../Data/hotel_review_tain_5000 copy.csv', sep=';')

In [83]:
df['review'] = df['review'].str.replace("",'')

In [ ]:
index = 0
for rank in df['review']:
    df['review'][index] = df['review'][index].strip()

    index = index + 1

In [ ]:
[['Class'],['Opinion']]

In [110]:
#Despues de guardar el archivo volver a cargar para resfrescar el indice
df.reset_index().to_csv('aaa.csv',index=False, 
                            columns=['Class','Opinion'], sep = ';',
                            encoding='utf-8')

In [59]:
#Despues de guardar el archivo volver a cargar para resfrescar el indice
df.reset_index().to_csv('aaa.csv',index=False, 
                            columns=['sentiment', 'review'], sep = ';',
                            encoding='utf-8')

In [ ]:
index = 0
for rank in df['sentiment']:
    if rank == 3 or rank == 4:
        df['sentiment'][index] = 1
    elif rank == 2:
        df = df.drop(index)
    else:
        df['sentiment'][index] = 0

    index += 1

In [67]:
df.reset_index().to_csv('a.csv',index=False, 
                            sep = ';',
                            encoding='utf-8')

In [25]:
df.reset_index().to_csv('vff.csv',index=False,
                            sep = ';',
                            encoding='utf-8')

In [12]:
df = df[200000:300000]

In [21]:
df.reset_index().to_excel('Hotel_Review_Test_5000.xlsx', index="false",columns=['sentiment','review'])