In [1]:
import pandas as pd
import re
from tqdm import tqdm

In [18]:
dataset = pd.read_csv('../Logic/aaaa.csv', sep=';')

In [2]:
dataset = pd.read_csv('../Data/Hotel_Reviews.csv')

In [11]:
dataset.shape

(5003, 2)

In [5]:
dataset = dataset[['Positive_Review']]

In [13]:
dataset

      sentiment                                             review
0             5  Hotel recientemente inaugurado (1 año) y está ...
1             5  Fuimos a el lobby bar y probamos casi todos lo...
2             5  Muy buen servicio, maravillosa experiencia, ex...
3             5  Hoy estuvimos en el restaurante Bahía y la pas...
4             5  Me ha encantado este hotel, el personal fantás...
...         ...                                                ...
4998          2  de lo peor que pueda pasar unas vacaciones en ...
4999          2  El hotel es muy bonito y las instalaciones est...
5000          2  Hemos estado 9 días, 4 adultos...en primer lug...
5001          2  Pésimo trato a los cubanos!!! Es un hotel con ...
5002          2  Por cuestiones de trabajo tuve que viajar a Va...

[5003 rows x 2 columns]

In [12]:
#Cambiar nombre columnas
name = {'Class':'sentiment','Opinion':'review'}
dataset = dataset.rename(columns=name)

In [14]:
dataset = dataset[['sentiment','review']]

In [14]:
#Eliminar filas repetidas
dataset = dataset.drop_duplicates(subset='review')
#Eliminar filas vacias
dataset = dataset.dropna(subset=['review'])

In [15]:
dataset.shape

(5000, 2)

In [42]:
dataset = dataset[:3002]

In [74]:
def depure_data(data):

    #Eliminado URL  
    url_pattern = re.compile(r'https?://\S+/www\.\S+')
    data = url_pattern.sub(r'', data)

    #Eliminar caracteres de nueva linea
    data = re.sub('\s+', ' ', data)

    #Eliminar sencillos que distraen comillas
    data = re.sub(" \' ", "", data)

    return data

In [75]:
for i in range(len(dataset['review'])):
    dataset['review'].values.tolist()[i] = depure_data(dataset['review'].values.tolist()[i])

In [12]:
#Añadir un nueva fila.
dataset['sentiment']=1

In [16]:
dataset.groupby('sentiment').nunique()

           review
sentiment
1            1500
2            1000
5            2500

In [17]:
dataset_pos = dataset[dataset['sentiment']==4][750:1500]
dataset_neg = dataset[dataset['sentiment']==0][750:1500]
dataset_pos1 = dataset[dataset['sentiment']==3][750:1500]
dataset_neg1 = dataset[dataset['sentiment']==1][750:1500]
df = pd.concat([dataset_pos,dataset_neg,dataset_pos1,dataset_neg1])

In [28]:
dataset_pos = dataset[dataset['sentiment']==1][:2500]
dataset_neg = dataset[dataset['sentiment']==0][0:2500]
df = pd.concat([dataset_pos,dataset_neg])

In [30]:
df.shape

(5000, 2)

In [80]:
dataset.shape

(2000, 2)

In [22]:
dataset.groupby('sentiment').nunique()

           review
sentiment
0            2500
1            2500

In [79]:
dataset = dataset[:2000]

In [26]:
index = 0
for rank in tqdm(dataset['review']):
    if len(rank.split()) < 5:
        dataset = dataset.drop(index)

    index = index + 1

100%|██████████| 9922/9922 [00:01<00:00, 7460.78it/s]

In [ ]:
index = 0
for rank in dataset['sentiment']:
    if rank == 5 or rank == 4:
        dataset['sentiment'][index] = 1
    elif rank == 3:
        dataset = dataset.drop(index)
    else:
        dataset['sentiment'][index] = 0
    index = index + 1

In [5]:
#Convertir de float a int
dataset['sentiment'] = dataset['sentiment'].astype(int)

In [20]:
dataset

      sentiment                                             review
0             1  Hotel recientemente inaugurado (1 año) y está ...
1             1  Fuimos a el lobby bar y probamos casi todos lo...
2             1  Muy buen servicio, maravillosa experiencia, ex...
3             1  Hoy estuvimos en el restaurante Bahía y la pas...
4             1  Me ha encantado este hotel, el personal fantás...
...         ...                                                ...
4995          0  de lo peor que pueda pasar unas vacaciones en ...
4996          0  El hotel es muy bonito y las instalaciones est...
4997          0  Hemos estado 9 días, 4 adultos...en primer lug...
4998          0  Pésimo trato a los cubanos!!! Es un hotel con ...
4999          0  Por cuestiones de trabajo tuve que viajar a Va...

[5000 rows x 2 columns]

In [33]:
df.reset_index().to_csv('hotel_review_test_5000_v3.csv',index=False, 
                            columns=['sentiment', 'review'], sep = ';',
                            encoding='utf-8')

In [23]:
#Guardar CSV
dataset.reset_index().to_csv('aaaa.csv',index=False, 
                            columns=['sentiment', 'review'], sep = ';',
                            encoding='utf-8')

In [53]:
dataset.reset_index().to_excel('laptop.xlsx', index="false",columns=['sentiment','review'])

In [22]:
dataset.reset_index().to_csv('hotel_review_tain_5000.csv',index=False, 
                            columns=['sentiment', 'review'], sep = ';',
                            encoding='utf-8')